.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

main {
  width: 90vw;
}